<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/contact.css">

    <h1>Contact Me</h1>
    <form action="send" novalidate method="POST" class="validated-form" enctype="multipart/form-data" name="EmailForm" id="contact-form">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"  name="contact[name]" aria-describedby="nameHelp">
          <div class="valid-feedback">
            Looks good!
        </div>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" aria-describedby="nameHelp" name="contact[phoneNumber]" placeholder="(555)-555-5555">
            <div class="valid-feedback">
              Looks good!
          </div>
            <div id="nameHelp" class="form-text">We'll never share your info with anyone else.</div>
          </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="contact[email]">
            <div class="valid-feedback">
              Looks good!
          </div>
            <div id="nameHelp" class="form-text">We'll never share your info with anyone else.</div>
          </div>
          <div class="mb-3">
              <textarea class="form-control" placeholder="Type your message here." name="contact[message]" id="message" style="height: 100px"></textarea>
          </div>
        <button value="submit" type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      
      <script src='/javascripts/mail.js'></script>