<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="col-12 mb-3">
 <div class="container" id="headshot-container">
     
     <div class="row">
         <div class="col-4 mb-3" id="headshot">
            <img class="img-fluid img-thumbnail border-0" src="https://res.cloudinary.com/bryce-test-env/image/upload/c_scale,q_100,w_200/v1625547388/Headshots/DSC04164_uwfpi7.jpg" alt="Bryce-Headshot">
         </div>
         <div class="col-6 mb-3 text-center" id="splash-text">
            <h1 id="gradient-header">Hi, I'm Bryce!</h1>
            <p>
                Welcome to my website! The purpose of this site is to advertise my current projects, as well as serve as a resumé for potential development work. Thanks for visiting!
            </p>
         </div>  
     
     </div>
 </div>
</div>
 
    
    
