<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/resume.css">

<div class="row">
    <div class="col-12 mb-3">
    <div class="row">
        <h1 id="skills-header">Relevant Skills</h1>
    </div> 
    <div id="contact-info-skills" class="text-muted">
        <h5>Houston, TX</h5>
        <h5>(816) 977-1662</h5>
        <h5>bryhoover11@gmail.com</h5>
    </div> 
    <div class="row">
        <div class="card mb-3">  
            <ul class="list-group list-group-flush"></ul>
                <div class="row text-center">
                    <div class="col-6 mb-3">  
                        <div class="card-body">
                            <h5 id="design-list" class="card-title">Design</h5>
                            <div class="row">
                                <div id="design-buttons" class="col-12 mb-3">
                                    <button id="color7"type="button" class="btn btn-md btn-default mb-3">Microsoft Excel</button>
                                    <button id="color6"type="button" class="btn btn-md btn-default mb-3">Micrsoft Office Suite</button>
                                    <button id="color5"type="button" class="btn btn-md btn-default mb-3">Adobe Creative Cloud Suite</button>
                                    <button id="color4"type="button" class="btn btn-md btn-default mb-3">Adobe Illustrator</button>
                                    <button id="color3"type="button" class="btn btn-md btn-default mb-3">Adobe Photoshop</button>
                                    <button id="color2" type="button" class="btn btn-md btn-default mb-3">Adobe Dreamweaver</button>
                                    <button id="color6"type="button" class="btn btn-md btn-default mb-3">Adobe After Effects</button>
                                    <button id="color7"type="button" class="btn btn-md btn-default mb-3">Adobe Lightroom</button>
                                    <button id="color8"type="button" class="btn btn-md btn-default mb-3">Adobe Premiere</button>
                                    <button id="color1"type="button" class="btn btn-md btn-default mb-3">Adobe Media Encoder</button>
                                    <button id="color5"type="button" class="btn btn-md btn-default mb-3">Adobe InDesign</button>
                                    <button id="color3"type="button" class="btn btn-md btn-default mb-3">Adobe XD</button>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-6 mb-3">
                        <div class="card-body">
                            <h5 id="dev-list" class="card-title">Development</h5>
                            <div class="row">
                                <div id="dev-buttons" class="col-12 mb-3">
                                    <button id="color1" type="button" class="btn btn-md btn-default mb-3">Git</button>
                                    <button id="color2" type="button" class="btn btn-md btn-default mb-3">GitHub</button>
                                    <button id="color3" type="button" class="btn btn-md btn-default mb-3">JavaScript</button>
                                    <button id="color4" type="button" class="btn btn-md btn-default mb-3">Node.js</button>
                                    <button id="color2" type="button" class="btn btn-md btn-default mb-3">React</button>
                                    <button id="color7" type="button" class="btn btn-md btn-default mb-3">Redux</button>
                                    <button id="color5" type="button" class="btn btn-md btn-default mb-3">MongoDB</button>
                                    <button id="color6" type="button" class="btn btn-md btn-default mb-3">Mongoose</button>
                                    <button id="color7" type="button" class="btn btn-md btn-default mb-3">Express</button>
                                    <button id="color8" type="button" class="btn btn-md btn-default mb-3">Session</button>
                                    <button id="color7" type="button" class="btn btn-md btn-default mb-3">HTML</button>
                                    <button id="color4" type="button" class="btn btn-md btn-default mb-3">Bootstrap</button>
                                    <button id="color1" type="button" class="btn btn-md btn-default mb-3">CSS</button>
                                    <button id="color3" type="button" class="btn btn-md btn-default mb-3">EJS</button>
                                    <button id="color8" type="button" class="btn btn-md btn-default mb-3">Multer</button>
                                    <button id="color2" type="button" class="btn btn-md btn-default mb-3">Passport</button>
                                    <button id="color6" type="button" class="btn btn-md btn-default mb-3">OOP</button>
                                    <button id="color5" type="button" class="btn btn-md btn-default mb-3">JSON</button>
                                    <button id="color8" type="button" class="btn btn-md btn-default mb-3">DOT Env</button>
                                    <button id="color2" type="button" class="btn btn-md btn-default mb-3">Cookies</button>
                                    <button id="color3" type="button" class="btn btn-md btn-default mb-3">APIs</button>
                                    <button id="color7" type="button" class="btn btn-md btn-default mb-3">Joi</button>
                                    <button id="color5" type="button" class="btn btn-md btn-default mb-3">MapBox</button>
                                    <button id="color4" type="button" class="btn btn-md btn-default mb-3">Helmet</button>
                                    <button id="color6" type="button" class="btn btn-md btn-default mb-3">MongoDB Atlas</button>
                                    <button id="color4" type="button" class="btn btn-md btn-default mb-3">Cloudinary</button>
                                    <button id="color1" type="button" class="btn btn-md btn-default mb-3">PHP</button>
                                    <button id="color6" type="button" class="btn btn-md btn-default mb-3">WordPress</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

<div class="row">
<div class="col-12 mb-3">
<div class="row">
    <h1 id="header">Resumé</h1>
    <div id="contact-info" class="text-muted">
        <h5>Houston, TX</h5>
        <h5>(816) 977-1662</h5>
        <h5>bryhoover11@gmail.com</h5>
    </div>
</div>

<div class="row">
    <div class="card mb-3">
        <div class="row">
        <div class="col-12 mb-3">
        <div id="career-objective" class="card-body">
            <h5 class="card-title">Career Objective</h5>
            <p class="card-text">Detail-oriented professional with a combined 7 years' experience in graphic design, web development, and commercial photography. Proven knowledge of conflict resolution, working in a team, and customer communications.</p>
        </div>
        </div>
        </div>
        <ul class="list-group list-group-flush"></ul>
        <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>
            
             <label for="job-title" class="ms-auto"><b>San Diego, CA</b> <br> <i>Sept. 2021 - Present</i></label>
             <h6 id="job-title" class="card-title">ClickUp</h6>

             <div class="card-subtitle">Technical Support Specialist (Remote)</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Demonstrate adept problem-solving and troubleshooting skills.</li>
                    <li class="list-group-item">Strong ability to communicate technical information in an accessible manner to non-technical employees and clients.</li>
                    <li class="list-group-item">Software maintenance and testing capability.</li>
                    <li class="list-group-item">Basic knowledge of networking principles and operating systems.</li>
                    <li class="list-group-item">Ability to effectively prioritize and execute tasks in a high-pressure environment.</li>
                    <li class="list-group-item">User experience focused mindset.</li>
                </ul>
             </div>
            
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Jan. 2020 - Sept. 2021</i></label>
            <h6 id="job-title" class="card-title">Self-Employed</h6>

            <div class="card-subtitle">Graphic Designer</div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Develop graphics and laouts for product illustrations, company logos, web design, and merchandise branding.</li>
                <li class="list-group-item">Prepare illustrations or rough sketches of material, discusssing them with clients or supervisors and making necessary adjustments. </li>
             </ul>
            </div>
        
        <div class="row">
        <div class="col-12 mb-3">
        <div class="card-body">
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Oct. 2016 - Jan. 2020</i></label>
            <h6 id="job-title" class="card-title">Artisan Vapor Company</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>
            <div class="card-subtitle">General Manager</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Plan and direct staffing, training, and performance evaluations to develop and control sales and service programs.</li>
                <li class="list-group-item">Prepare budgets and approve budget expenditures.</li>
            </ul>
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Jul. 2015 - Oct. 2016</i></label>
            <div class="card-subtitle">Sales Associate</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Troubleshoot merchandise and explain use, operation, and care of merchandise to customers.</li>
                <li class="list-group-item">Maintain knowledge of current sales and promotions, policies regarding payment and exchanges, and security practices.</li>
            </ul>
        </div>
        </div>    
        </div>
        <div class="row">
        <div class="col-12 mb-3">
        <div class="card-body">
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Dec. 2014 - Jun. 2015</i></label>
            <h6 id="job-title" class="card-title">Imperial Vapor Company</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>
            <div class="card-subtitle">Sales Associate</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Describe merchandise and explain use, operation, and care of merchandise to customers</li>
                <li class="list-group-item">Recommend, select, and help locate or obtain merchandise based on customer needs and desires.</li>
            </ul>
        </div>
        </div>    
        </div>
        <div class="row">
        <div class="col-12 mb-3">
        <div class="card-body">
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Aug. 2014 - Dec. 2014</i></label>
            <h6 id="job-title" class="card-title">Caprock Electric</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>
            <div class="card-subtitle">Office Operations Manager</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Direct and coordinate activities of businesses or epartments concerned with the production, pricing, sales, or distribution of products.</li>
                <li class="list-group-item">Review financial statements, sales and activity reports, and other performance data to measure productivity and goal achievement and to determine areas needing cost reduction and program improvement.</li>
            </ul>
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Jul. 2014 - Aug. 2014</i></label>
            <div class="card-subtitle">Apprentice Electrician</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Assemble, install, test, or maintain electrcial or electronic wiring, equipment, appliances, apparatus, or fixtures, using hand tools or power tools.</li>
                <li class="list-group-item">Use a variety of tools or equipment, such as power construction equipment, measuring devices, power tools, and testing equipment, such as oscilloscopes, ammeters, or test lamps.</li>
            </ul>
            <label for="job-title" class="ms-auto"><b>Houston, TX</b> <br> <i>Jun. 2014 - Jul. 2014</i></label>
            <div class="card-subtitle">Delivery and Equipment Driver</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Present bills and receipts and collect payments for goods delivered and loaded.</li>
                <li class="list-group-item">Load and unload trucks, vans, or automobiles.</li>
            </ul>
        </div>    
        </div>    
        </div>
        <ul class="list-group list-group-flush"></ul>
        <div class="row">
        <div class="col-6 mb-3">  
        <div class="card-body">
            <h5 class="card-title">Education</h5>
            <h6 id="job-title" class="card-title">Ridge Point High School</h6>
            <div class="card-subtitle">High School Diploma (Jun. 2015)</div>
        </div>
        <div class="card-body">
            <h6 id="job-title" class="card-title">Colt Steele's Web Developer Bootcamp 2021</h6>
            <div class="card-subtitle">Udemy Certificate of Completion (May. 2021)</div>
        </div>
        </div>  
        <div class="col-6 mb-3">
        <div class="card-body">
            <h5 class="card-title">Certifications</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Web Developer Bootcamp 2021 Certification</li>
                <li class="list-group-item">IC3 Certification</li>
                <li class="list-group-item">Licensed Apprentice Electrician</li>
                <li class="list-group-item">OSHA 10 Certification</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>


    </div>
    </div>
