<% layout('layout/boilerplate')%>

<div class="text-center">
    <h1>Bryce Hoover</h1>
    <br>
    <div class="text-muted">
        <h5>1202 Noble St. Apt #4</h5>
        <h5>Houston, TX 77009</h5>
        <h5>(816) 777-1662</h5>
        <h5>bryhoover11@gmail.com</h5>
    </div>
<br>
<div class="container">
        <div class="text-center">
            <h3>Career Objective</h3>
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
            </p>
        </div>
        <br>
        <br>
        <div>
            <h3 class="text-center">Experience</h3>
            <br>
            <div class="text-center">
            <h5>Self-Employed</h5>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
            </p>
        </div>
    <br>
    <div class="text-center">
        <h5>Artisan Vapor Company</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
        </p>
    </div>
    <br>
    <div class="text-center">
        <h5>Imperial Vapor Company</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
        </p>
    </div>
    <br>
    <div class="text-center">
        <h5>Caprock Electrical Company</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
        </p>
    </div>
    <br>
    <div>
        <h3 class="text-center">Education</h3>
        <br>
        <div class="text-center">
        <h5>Ridge Point High School</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam in minus minima repellat exercitationem, libero ipsum labore nemo deleniti ducimus quibusdam? Necessitatibus dolorem modi assumenda quod obcaecati voluptatibus id unde.
        </p>
    </div>
    <div>
        <h3 class="text-center">Additional Skills</h3>
        <br>
        <div class="text-center">
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam pariatur voluptates ab error porro laboriosam temporibus sed, labore id maiores optio nulla magni dolores iusto necessitatibus, eveniet accusamus esse praesentium.
            </li>
        </ul>
    </div>
    <div>
        <h3 class="text-center">Certifications</h3>
        <br>
        <div class="text-center">
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam pariatur voluptates ab error porro laboriosam temporibus sed, labore id maiores optio nulla magni dolores iusto necessitatibus, eveniet accusamus esse praesentium.
            </li>
        </ul>
    </div>
    


