body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1613864601020-ec7288d0a9db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
}

h2 {
    color: white;
    
}

label {
    color: white;
}

.card {
    background: rgba(255, 255, 255, 1);
    background-color: #181818;
}

h5, h6, p, .card-footer {
    color: white;
}

li.list-group-item {
    background:none;
}

#logged-in-review {
    margin-top: -.6rem;
}

#review-container {
    width: 100%;
}

#photo-review-container {
    width: 50%;
}