body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

.card {
  background: rgba(255, 255, 255, 1);
  background-color: #181818;
  width: 33%;
  justify-content: center;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#photo-button {
  margin-left: 13.5rem;
}

#copyright {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: -0.8rem;
  margin-right: -0.6rem;
}

#shot-info {
  margin-top: -0.8rem;
  margin-left: -0.4rem;
}
