body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1613864601020-ec7288d0a9db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
}

#contact-info h5,
#contact-info-skills h5 {
  color: white;
}

h3,
h5,
h6,
p,
b,
i,
li,
.card-subtitle,
.list-group-item {
  color: black;
}

.alert {
  background: none;
  border: none;
  margin-top: 5rem;
}

#header {
  text-align: start;
}

.card-text {
  color: black;
}

#contact-info {
  padding-bottom: 1rem;
  text-align: right;
  color: white;
}

#contact-info-skills {
  padding-bottom: 1rem;
  text-align: left;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 1);
  background-color: white;
  text-align: justify;
}

li.list-group-item {
  background: none;
}

.ms-auto {
  float: right;
}

.card-title {
  font-weight: 700;
}

.card-subtitle {
  font-weight: 600;
  font-style: italic;
}

#career-objective {
  text-align: center;
}

#skills-header {
  text-align: end;
}

#dev-list {
  text-align: end;
}

#design-list {
  text-align: start;
}

#design-buttons {
  justify-content: center;
  margin-top: 1rem;
  -webkit-text-stroke-width: 0.0095rem;
  -webkit-text-stroke-color: #44475a;
}

#dev-buttons {
  justify-content: center;
  margin-top: 1rem;
  -webkit-text-stroke-width: 0.0095rem;
  -webkit-text-stroke-color: #44475a;
}

#color1 {
  background-color: #6272a4;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color2 {
  background-color: #8be9fd;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color3 {
  background-color: #50fa7b;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color4 {
  background-color: #ffb86c;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color5 {
  background-color: #ff79c6;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color6 {
  background-color: #bd93f9;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color7 {
  background-color: #ff5555;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

#color8 {
  background-color: #f1fa8c;
  border: none;
  color: #282a36;
  box-shadow: 2px 2px 2px #181818;
}

.btn-md,
.btn-md:hover {
  cursor: default;
}
