body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-color: #181818;
}

h2 {
    color: white;
    
}

label {
    color: white;
}

.card {
    background: rgba(255, 255, 255, 1);
    background-color: #181818;
}

h5, h6, p, .card-footer {
    color: white;
}

li.list-group-item {
    background:none;
}

#logged-in-review {
    margin-top: -.6rem;
}

#review-container {
    width: 100%;
}

#photo-review-container {
    width: 50%;
}

.btn-secondary {
    color: white;
}

#contact-info h5 {
    text-align: end;
}

.new-contact {
    text-align: end;
}

#new-container {
    margin-top: 5rem;
}

h3 {
    color: white;
}