<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/show.css">
<h1>New Photo</h1>
    <form action="/photography" novalidate method="POST" class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Image Title</label>
          <input type="text" class="form-control" id="title"  name="photo[title]" aria-describedby="titleHelp">
        </div>
        <div class="valid-feedback">
          Looks good!
      </div>
        <div class="mb-3">
            <label for="location" class="form-label">Photo Location</label>
            <input type="text" class="form-control" id="location" aria-describedby="locationHelp" name="photo[location]" >
          </div>
          <div class="valid-feedback">
            Looks good!
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Image Info</label>
            <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" name="photo[description]">
          </div>
          <div class="valid-feedback">
            Looks good!
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Add Images</label>
          <input class="form-control" type="file" id="image" multiple name="image">
      </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>