<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/show.css">

<h1>New Contact Request</h1>
    <form action="/contact" novalidate method="POST" class="validated-form">
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input value="<%= contact.phone %>" type="tel" class="form-control" id="phone"  name="contact[phone]" aria-describedby="phoneHelp">
        </div>
        <div class="valid-feedback">
          Looks good!
      </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input value="<%= contact.email %>" type="text" class="form-control" id="email" aria-describedby="emailHelp" name="contact[email]">
          </div>
          <div class="valid-feedback">
            Looks good!
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input value="<%= contact.subject %>" type="text" class="form-control" id="subject" aria-describedby="subjectHelp" name="contact[subject]">
          </div>
          <div class="valid-feedback">
            Looks good!
        </div>
        <div class="mb-3">
          <label for="message">Message</label>
          <textarea value="<%= contact.message %>" class="form-control" name="contact[message]" id="message" cols="30" rows="5"></textarea>
        </div>
          <div class="valid-feedback">
            Looks good!
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      
      