<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/contact.css">        
<h1>All Contact Requests</h1>

<div class="container">
    <div class="d-flex flex-row justify-content-evenly flex-wrap">

<% if(currentUser && currentUser._id == "60d294755bcdbf2c28ce125d") {%>        
<% for(let contact of contacts){ %>
    <div class="card mb-3">
        <div class="row">
                <div class="col-6">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= contact.name %>
                    </h5>
                    <p class="card-text">
                        <%= contact.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= contact.author %>
                        </small>
                    </p>
                    <a href="/contact/<%= contact._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% } %> 
    </div>
    </div>
  