<% layout('layout/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/contact.css">

<h1>All Contact Requests</h1>


<div class="container">
    <div class="d-flex flex-row justify-content-evenly flex-wrap">

<% for(let contacts of contact){ %>
    <div class="card mb-3">
        <div class="row">
                <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= contacts.subject %>
                    </h5>
                    <p class="card-text">
                        <%= contacts.message %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= contacts.author %>
                        </small>
                    </p>
                    <a href="/contact/<%= contacts._id %>" class="btn btn-primary">View</a>
                </div>
            </div>  
        </div>
    </div>
    <% } %>
    </div>
    </div>